.actions {
  margin-right: 1rem;
}
.conteneur_button {
  display: flex;
  align-items: row;
}

.flex {
  display: flex;
  flex-direction: column;
}

.book-container {
  margin: 0 auto;
}

.fonts {
  font-family: "Fuji";
}

.booknavbar {
  background: url("./zdenek-machacek-YH4p4CYuvmw-unsplash.jpg");
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
word-break: break-all;
  
}

.littlecard {
  background-color: rgba(255, 141, 10, 0.527);
  border-radius: 6px;
  
}

.backgroundbooknew {

background-image: url("./sham-jallaludin-3u2ASPHYdIA-unsplash.jpg");
background-size: cover;
}