.actions {
  margin-right: 1rem;
}
.conteneur_button {
  display: flex;
  align-items: row;
}

.flex {
  display: flex;
  flex-direction: column;
}

.book-container {
  margin: 0 auto;
}

.fonts {
  font-family: "Fuji";
}

.booknavbar {
  background-image: url("../braden-jarvis-prSogOoFmkw-unsplash.jpg");
}
